INSTALL
aclocal.m4
libtool
missing
compile
depcomp
config.*
configure
config.status
Makefile.in
Makefile
*.stamp
*.o
*.lo
*.la
errs.txt
.deps
.libs
stamp*
ltmain.sh
install-sh
stamp-h1
*.png
**/*.swp
m4/lt*
m4/libtool.m4
configure.scan
autoscan.log
autom4te.cache

html
StylePrint?1?0?gir
*.typelib
StylePrint-doc.top
StylePrint-doc.bottom
styleprinttable.xml
styleprintpg.xml
styleprintmy.xml
tree_index.sgml
object_index.sgml
api-index*.xml
docs/reference/xml/bodydef.xml
docs/reference/xml/celldef.xml
docs/reference/xml/annotation-glossary.xml
docs/reference/xml/commondefs.xml
docs/reference/xml/groupdef.xml
docs/reference/xml/xmldefs.xml
docs/reference/StylePrint-overrides.txt
docs/reference/StylePrint-undeclared.txt
docs/reference/StylePrint-undocumented.txt
docs/reference/StylePrint-unused.txt
StylePrint.args
StylePrint.hierarchy
StylePrint.prerequisites
StylePrint.signals
StylePrint.interfaces
StylePrint-decl*
