INSTALL
aclocal.m4
libtool
missing
compile
depcomp
config.*
configure
config.status
Makefile.in
Makefile
*.stamp
*.o
*.lo
*.la
errs.txt
.deps
.libs
stamp*
ltmain.sh
install-sh
stamp-h1
*.png

html
StylePrint?1?0?gir
*.typelib
StylePrint-doc.top
StylePrint-doc.bottom
docs/reference/StylePrint-overrides.txt
docs/reference/StylePrint-undeclared.txt
docs/reference/StylePrint-undocumented.txt
docs/reference/StylePrint-unused.txt
